Repository Devasy23/splitwiser: changes, and which Codecov flags are due for each by the changed paths.
All: Authentication System, Expense Management, Group Management, User Management, Backend Core, Frontend Authentication, Frontend Screens, Frontend Core

Path conditions:
  Authentication System: (any of: backend/app/auth/**, but not: **/__pycache__/**, **/*.pyc, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt, setup*.sh, setup*.bat, *.json, ui-poc/**) or (any of: backend/app/auth/**, backend/tests/auth/**, but not: **/__pycache__/**, **/tests/**, **/test_*.py, **/*.pyc, frontend/**, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt)
  Expense Management: (any of: backend/app/expenses/**, but not: **/__pycache__/**, **/*.pyc, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt, setup*.sh, setup*.bat, *.json, ui-poc/**) or (any of: backend/app/expenses/**, backend/tests/expenses/**, but not: **/__pycache__/**, **/tests/**, **/test_*.py, **/*.pyc, frontend/**, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt)
  Group Management: (any of: backend/app/groups/**, but not: **/__pycache__/**, **/*.pyc, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt, setup*.sh, setup*.bat, *.json, ui-poc/**) or (any of: backend/app/groups/**, backend/tests/groups/**, but not: **/__pycache__/**, **/tests/**, **/test_*.py, **/*.pyc, frontend/**, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt)
  User Management: (any of: backend/app/user/**, but not: **/__pycache__/**, **/*.pyc, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt, setup*.sh, setup*.bat, *.json, ui-poc/**) or (any of: backend/app/user/**, backend/tests/user/**, but not: **/__pycache__/**, **/tests/**, **/test_*.py, **/*.pyc, frontend/**, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt)
  Backend Core: (any of: backend/app/config.py, backend/app/database.py, backend/app/dependencies.py, backend/main.py, but not: **/__pycache__/**, **/*.pyc, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt, setup*.sh, setup*.bat, *.json, ui-poc/**) or (any of: backend/app/config.py, backend/app/database.py, backend/app/dependencies.py, backend/main.py, but not: **/__pycache__/**, **/tests/**, **/test_*.py, **/*.pyc, frontend/**, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt)
  Frontend Authentication: any of: frontend/contexts/AuthContext.tsx, frontend/screens/LoginScreen.tsx, but not: **/__pycache__/**, **/*.pyc, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt, setup*.sh, setup*.bat, *.json, ui-poc/**
  Frontend Screens: any of: frontend/screens/**, but not: **/__pycache__/**, **/*.pyc, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt, setup*.sh, setup*.bat, *.json, ui-poc/**
  Frontend Core: (any of: frontend/App.tsx, frontend/contexts/**, but not: **/__pycache__/**, **/*.pyc, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt, setup*.sh, setup*.bat, *.json, ui-poc/**) or (any of: frontend/**, but not: **/__pycache__/**, **/tests/**, **/test_*.py, **/*.pyc, frontend/**, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt)

fix(review): address coderabbit review comments
  backend/scripts/migrate_avatar_to_imageurl.py
Due: none

fix: standardize timestamp fields to camelCase in API responses
  backend/app/auth/schemas.py
  backend/app/auth/service.py
  backend/app/expenses/schemas.py
  backend/app/groups/schemas.py
  backend/app/user/schemas.py
  backend/main.py
  backend/tests/auth/test_auth_routes.py
  backend/tests/expenses/test_expense_routes.py
  backend/tests/user/test_user_routes.py
  package-lock.json
Due: Authentication System, Expense Management, Group Management, User Management, Backend Core

fixed auth such that after signup no need to lgin separately just go to main dashboard in Home.py directly
  ui-poc/Home.py
Due: none

Fix: Ensure st.set_page_config is first Streamlit call in Home page
  ui-poc/Home.py
Due: none

Update ui-poc/Home.py
  ui-poc/Home.py
Due: none

Update android-build.yml
  .github/workflows/android-build.yml
Due: none

Add rate limiting with user and endpoint-specific limits
  backend/app/user/routes.py
  backend/main.py
  backend/requirements.txt
  backend/utils/limiter.py
  backend/utils/limiter_helper.py
Due: User Management, Backend Core

adds eas login id
  frontend/app.json
Due: none

add project configuration and update channels in eas.json
  frontend/eas.json
Due: none

Revert "add project configuration and update channels in eas.json"
  frontend/eas.json
Due: none

Add permissions for pull request handling in EAS preview workflow
  .github/workflows/preview.yml
Due: none

Refactor GroupDetailsScreen component for improved readability and maintainability
  frontend/screens/GroupDetailsScreen.js
Due: Frontend Screens

Enhance currency formatting in GroupDetailsScreen and improve settlement display
  frontend/package-lock.json
  frontend/package.json
  frontend/screens/GroupDetailsScreen.js
Due: Frontend Screens

feat: Implement Groups and Account navigation stack
  frontend/App.js
  frontend/babel.config.js
  frontend/metro.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/auth.ts
  frontend/src/api/groups.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/navigation/AccountStackNavigator.tsx
  frontend/src/navigation/AppNavigator.tsx
  frontend/src/navigation/AuthNavigator.tsx
  frontend/src/navigation/GroupsStackNavigator.tsx
  frontend/src/navigation/MainNavigator.tsx
  frontend/src/screens/AccountScreen.tsx
  frontend/src/screens/AddExpenseScreen.tsx
  frontend/src/screens/FriendsScreen.tsx
  frontend/src/screens/GroupDetailsScreen.styles.ts
  frontend/src/screens/GroupDetailsScreen.tsx
  frontend/src/screens/HomeScreen.tsx
  frontend/src/screens/JoinGroupScreen.tsx
  frontend/src/screens/LoginScreen.tsx
  frontend/src/screens/SignupScreen.tsx
  frontend/src/styles/theme.ts
  frontend/src/styles/variables.ts
  frontend/src/types/index.ts
  frontend/src/utils/helpers.ts
  frontend/tsconfig.json
Due: none

feat: Enhance Login and Signup screens with validation and improved UI
  frontend/src/screens/LoginScreen.tsx
  frontend/src/screens/SignupScreen.tsx
  frontend/src/utils/validation.ts
Due: none

feat: Implement Material 3 refactoring, enhance Home and Join Group screens, and add join code to Group type
  frontend/MATERIAL3_REFACTORING_SUMMARY.md
  frontend/src/screens/HomeScreen.tsx
  frontend/src/screens/HomeScreenNew.tsx
  frontend/src/screens/JoinGroupScreen.tsx
  frontend/src/screens/LoginScreen.tsx
  frontend/src/types/index.ts
Due: none

feat: Enhance group loading with authentication checks and improved error handling
  frontend/src/screens/HomeScreen.tsx
Due: none

feat: Add expense creation functionality with member selection and custom splits
  frontend/src/api/groups.ts
  frontend/src/screens/AddExpenseScreen.tsx
  frontend/src/screens/GroupDetailsScreen.tsx
  frontend/src/screens/HomeScreen.tsx
Due: none

Create ratelimit.py
  backend/app/auth/ratelimit.py
Due: Authentication System

Update routes.py
  backend/app/auth/routes.py
Due: Authentication System

Update schemas.py
  backend/app/auth/schemas.py
Due: Authentication System

Update service.py
  backend/app/auth/service.py
Due: Authentication System

Update security.py
  backend/app/auth/security.py
Due: Authentication System

Update main.py
  backend/main.py
Due: Backend Core

Revert "This commit fixes several bugs in the unequal split functionality and adds a feature to select who paid for an expense."
  .github/workflows/preview.yml
  frontend/app.json
  frontend/package-lock.json
  frontend/package.json
  frontend/screens/AddExpenseScreen.js
  frontend/screens/GroupDetailsScreen.js
Due: Frontend Screens

Refactor AddExpenseScreen for improved structure and functionality; enhance split methods and auto-balance percentages
  frontend/screens/AddExpenseScreen.js
Due: Frontend Screens

Refactor AddExpenseScreen to improve payer selection logic and enhance expense calculation; ensure proper handling of rounding errors
  frontend/screens/AddExpenseScreen.js
Due: Frontend Screens

Add paidBy field to ExpenseCreateRequest and ExpenseResponse; validate payer membership in group during expense creation
  backend/app/expenses/schemas.py
  backend/app/expenses/service.py
  frontend/screens/AddExpenseScreen.js
Due: Expense Management, Frontend Screens

Fix: Adjust Codecov thresholds and paths for backend coverage; improve frontend test handling
  .codecov.yml
  .github/workflows/run-tests.yml
Due: none

Refactor: Update Codecov configuration to simplify component management and ignore frontend directory; add setup.cfg for Flake8 configuration
  .codecov.yml
  .github/workflows/bundle-analysis.yml.disabled
  .pre-commit-config.yaml
  setup.cfg
Due: none

Refactor: Rename workflow to clarify focus on backend tests; remove frontend test steps
  .github/workflows/run-tests.yml
Due: none

Fix: Add TODO comment to indicate removal of Flake8 ignore rules upon PEP 8 compliance
  setup.cfg
Due: none

Add required paidBy field to ExpenseCreateRequest in expense tests
  backend/tests/expenses/test_expense_service.py
Due: none

Add test for expense creation with payer not in group
  backend/tests/expenses/test_expense_service.py
Due: none

Update GitHub Actions and enhance group expense handling
  .github/workflows/preview.yml
  frontend/api/groups.js
  frontend/screens/AddExpenseScreen.js
  frontend/screens/HomeScreen.js
Due: Frontend Screens

Implement AsyncStorage for user authentication and balance calculations; refactor FriendsScreen and HomeScreen imports
  frontend/context/AuthContext.js
  frontend/package-lock.json
  frontend/package.json
  frontend/screens/FriendsScreen.js
  frontend/screens/HomeScreen.js
  frontend/utils/balanceCalculator.js
Due: Frontend Screens

Downgrade actions/checkout version from v4 to v3 in GitHub Actions workflow
  .github/workflows/preview.yml
Due: none
