Repository Devasy23/splitwiser: changes, and which Codecov flags are due for each by the changed paths.
All: Authentication System, Expense Management, Group Management, User Management, Backend Core, Frontend Core

Path conditions:
  Authentication System: (any of: backend/app/auth/**, but not: **/__pycache__/**, **/*.pyc, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt, setup*.sh, setup*.bat, *.json, ui-poc/**, frontend/**, **/node_modules/**, **/dist/**, **/build/**, **/*.config.js, **/*.config.ts) or (any of: backend/app/auth/**, backend/tests/auth/**, but not: **/__pycache__/**, **/tests/**, **/test_*.py, **/*.pyc, frontend/**, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt)
  Expense Management: (any of: backend/app/expenses/**, but not: **/__pycache__/**, **/*.pyc, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt, setup*.sh, setup*.bat, *.json, ui-poc/**, frontend/**, **/node_modules/**, **/dist/**, **/build/**, **/*.config.js, **/*.config.ts) or (any of: backend/app/expenses/**, backend/tests/expenses/**, but not: **/__pycache__/**, **/tests/**, **/test_*.py, **/*.pyc, frontend/**, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt)
  Group Management: (any of: backend/app/groups/**, but not: **/__pycache__/**, **/*.pyc, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt, setup*.sh, setup*.bat, *.json, ui-poc/**, frontend/**, **/node_modules/**, **/dist/**, **/build/**, **/*.config.js, **/*.config.ts) or (any of: backend/app/groups/**, backend/tests/groups/**, but not: **/__pycache__/**, **/tests/**, **/test_*.py, **/*.pyc, frontend/**, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt)
  User Management: (any of: backend/app/user/**, but not: **/__pycache__/**, **/*.pyc, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt, setup*.sh, setup*.bat, *.json, ui-poc/**, frontend/**, **/node_modules/**, **/dist/**, **/build/**, **/*.config.js, **/*.config.ts) or (any of: backend/app/user/**, backend/tests/user/**, but not: **/__pycache__/**, **/tests/**, **/test_*.py, **/*.pyc, frontend/**, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt)
  Backend Core: (any of: backend/app/config.py, backend/app/database.py, backend/app/dependencies.py, backend/main.py, but not: **/__pycache__/**, **/*.pyc, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt, setup*.sh, setup*.bat, *.json, ui-poc/**, frontend/**, **/node_modules/**, **/dist/**, **/build/**, **/*.config.js, **/*.config.ts) or (any of: backend/app/config.py, backend/app/database.py, backend/app/dependencies.py, backend/main.py, but not: **/__pycache__/**, **/tests/**, **/test_*.py, **/*.pyc, frontend/**, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt)
  Frontend Core: any of: frontend/**, but not: **/__pycache__/**, **/tests/**, **/test_*.py, **/*.pyc, frontend/**, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt

feat: Improve authentication error handling and add file upload validation in profile settings
  web/pages/Auth.tsx
  web/pages/Friends.tsx
  web/pages/GroupDetails.tsx
  web/pages/Profile.tsx
Due: none

feat: Enhance keyboard accessibility and ARIA attributes for Friends and GroupDetails components
  web/pages/Friends.tsx
  web/pages/GroupDetails.tsx
Due: none

feat: Add error handling and retry functionality in Friends component
  web/pages/Friends.tsx
  web/pages/GroupDetails.tsx
Due: none

Enhance Friends, Groups, and Profile Management Features (#206)
  web/App.tsx
  web/components/layout/Sidebar.tsx
  web/components/ui/Button.tsx
  web/components/ui/Modal.tsx
  web/contexts/AuthContext.tsx
  web/package-lock.json
  web/package.json
  web/pages/Auth.tsx
  web/pages/Dashboard.tsx
  web/pages/Friends.tsx
  web/pages/GroupDetails.tsx
  web/pages/Groups.tsx
  web/pages/Profile.tsx
  web/services/api.ts
  web/services/firebase.ts
Due: none

feat: Update app configuration and add EAS build settings
  mobile/app.json
  mobile/eas.json
Due: none

fix: update pip installation command in nixpacks.toml
  nixpacks.toml
Due: none

feat: optimize friends and overall balance queries with aggregation and indexing
  backend/app/config.py
  backend/app/database.py
  backend/app/expenses/routes.py
  backend/app/expenses/service.py
Due: Expense Management, Backend Core

feat: optimize database queries for friends balance summary and enrich member data
  backend/app/expenses/service.py
  backend/app/groups/service.py
  backend/migrations/001_create_indexes.py
  backend/migrations/002_fix_duplicate_emails.py
Due: Expense Management, Group Management

feat: optimize settlement aggregation for friends' balance summary
  backend/tests/expenses/test_expense_service.py
Due: none

Update backend/app/expenses/service.py
  backend/app/expenses/service.py
Due: Expense Management

Update backend/app/groups/service.py
  backend/app/groups/service.py
Due: Group Management

feat: enhance expense service with timezone-aware datetime and improve balance retrieval
  backend/app/expenses/service.py
  backend/tests/expenses/test_expense_service.py
Due: Expense Management

feat: add tests for optimized member enrichment function in group service
  backend/tests/expenses/test_expense_service.py
  backend/tests/groups/test_enrich_members.py
Due: none

feat: add tests for handling zero and negative balance scenarios in friends' balance summary
  backend/tests/expenses/test_expense_service.py
  backend/tests/groups/test_enrich_members.py
Due: none

feat: enhance tests for member enrichment function with improved coverage and logging
  backend/tests/groups/test_enrich_members.py
Due: none

Optimize database queries for friends balance summary and enrich member data (#211)
  backend/app/expenses/service.py
  backend/app/groups/service.py
  backend/migrations/001_create_indexes.py
  backend/migrations/002_fix_duplicate_emails.py
  backend/tests/expenses/test_expense_service.py
  backend/tests/groups/test_enrich_members.py
Due: Expense Management, Group Management

feat: enhance group management by adding imageUrl to group details and optimizing API calls
  backend/app/expenses/schemas.py
  backend/app/expenses/service.py
  backend/tests/expenses/test_expense_service.py
  mobile/api/groups.js
  mobile/screens/FriendsScreen.js
  mobile/screens/GroupDetailsScreen.js
  mobile/screens/GroupSettingsScreen.js
  web/pages/Friends.tsx
  web/pages/GroupDetails.tsx
Due: Expense Management

ci: update build configuration
  package.json
Due: none

Update README.md
  README.md
Due: none

Update README.md
  backend/README.md
Due: none

docs: add env copy example in backend README (#325)
  backend/README.md
Due: none
