Repository Devasy23/splitwiser: changes, and which Codecov flags are due for each by the changed paths.
All: Authentication System, Expense Management, Group Management, User Management, Frontend Core

Create LICENSE
  LICENSE
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Create Contributing.md
  Contributing.md
Due: none

Add issue template
  .github/ISSUE_TEMPLATE/gssoc25_contribution.yml
Due: none

Update gssoc25_contribution.yml
  .github/ISSUE_TEMPLATE/gssoc25_contribution.yml
Due: none

Implemented google authenticatin using firebase
  .gitignore
  backend/app/firebase_config.py
  frontend/app.json
  frontend/assets/adaptive-icon.png
  frontend/assets/adaptive-icon/background.png
  frontend/assets/adaptive-icon/foreground.png
  frontend/assets/favicon.png
  frontend/assets/icon.png
  frontend/assets/pwa/chrome-icon/chrome-icon-144.png
  frontend/assets/pwa/chrome-icon/chrome-icon-192.png
  frontend/assets/pwa/chrome-icon/chrome-icon-512.png
  frontend/assets/splash.png
  frontend/contexts/AuthContext.tsx
  frontend/firebase/firebaseConfig.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/screens/LoginScreen.tsx
Due: none

Update .github/ISSUE_TEMPLATE/gssoc25_contribution.yml
  .github/ISSUE_TEMPLATE/gssoc25_contribution.yml
Due: none

fix: addressed issues found after PR creation
  .github/copilot-instructions.md
  backend/.env.example
  backend/app/firebase_config.py
  frontend/app.json
  frontend/assets/google-logo.png
  frontend/contexts/AuthContext.tsx
  frontend/firebase/firebaseConfig.ts
  frontend/package.json
  frontend/screens/LoginScreen.tsx
  nixpacks.toml
Due: none

Implemented google authenticatin using firebase
  frontend/babel.config.js
  frontend/firebase/firebaseConfig.ts
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: none

tech-debt/pydantic-model-config
  backend/app/auth/schemas.py
  backend/app/expenses/schemas.py
Due: Authentication System, Expense Management

feat(logging): issue 58: implement centralized logging configuration and replace print statements with logger calls, also added request/response logging middleware and updated backend md file.
  backend/README.md
  backend/app/auth/service.py
  backend/app/config.py
  backend/app/database.py
  backend/app/expenses/routes.py
  backend/app/expenses/service.py
  backend/generate_secret.py
  backend/main.py
Due: Authentication System, Expense Management

docs: Add comprehensive Expo frontend analysis for GSSOC25
  frontend/README.md
  frontend/docs/ARCHITECTURE_REVIEW.md
  frontend/docs/COMPONENT_LIBRARY.md
  frontend/docs/EXECUTIVE_SUMMARY.md
  frontend/docs/EXPO_SETUP_GUIDE.md
  frontend/docs/FEATURE_ANALYSIS.md
  frontend/docs/NAVIGATION_MAP.md
  frontend/docs/SCREEN_INVENTORY.md
  frontend/docs/WIREFRAME_ANALYSIS.md
Due: none

docs: Add GSSOC25 completion summary
  frontend/docs/GSSOC25_COMPLETION_SUMMARY.md
Due: none

feat: Add automated setup scripts for easier onboarding
  frontend/setup.bat
  frontend/setup.sh
Due: none

docs: Add setup guide for UI and authenticated endpoints
  README.md
  backend/README.md
Due: none

fix: Resolve webpack build failure due to missing assets
  frontend/app.json
  frontend/assets/.gitkeep
  frontend/setup.bat
Due: none

docs: Add assets setup guide for future development
  frontend/docs/ASSETS_SETUP.md
Due: none

Improve exception handling and unit tests for auth, user, groups and expenses services
  backend/.coverage
  backend/app/auth/service.py
  backend/app/expenses/service.py
  backend/app/groups/service.py
  backend/app/user/service.py
  backend/tests/auth/test_auth_service.py
  backend/tests/expenses/test_expense_service.py
  backend/tests/groups/test_groups_service.py
  backend/tests/user/test_user_service.py
Due: Authentication System, Expense Management, Group Management, User Management

fix: Resolve Netlify deployment timeout issue
  NETLIFY_DEPLOYMENT_FIX.md
  frontend/package.json
  netlify.toml
Due: none

tech-debt/pydantic-model-config
  backend/app/auth/schemas.py
  backend/app/expenses/schemas.py
  backend/app/groups/schemas.py
Due: Authentication System, Expense Management, Group Management

feat(logging): truncated reset token and added pytest for logging init and diff levels. updated gitignore to ignore .coverage files
  .gitignore
  backend/app/auth/service.py
  backend/app/config.py
  backend/tests/logger/test_logger.py
Due: Authentication System

refactor(logging): remove logger name from configuration and update logger initialization tests
  backend/app/config.py
  backend/tests/logger/test_logger.py
Due: none

Slight modification by adding centralized logger to user and group service.py
  backend/app/groups/service.py
  backend/app/user/service.py
Due: Group Management, User Management

fix(codecov): update coverage thresholds and paths for components; remove unsupported test analytics
  codecov.yml
Due: none

fix(codecov): adjust coverage thresholds and paths; remove unsupported test paths
  codecov.yml
Due: none

chore(codecov): add a blank line for improved readability in configuration
  codecov.yml
Due: none

chore(codecov): remove deprecated configuration file
  .codecov.yml
Due: none

chore: add pre-commit configuration for code formatting tools
  .pre-commit-config.yaml
Due: none

fix(pre-commit): add args for isort to use black profile
  .pre-commit-config.yaml
Due: none

chore(pre-commit): ensure newline at end of file in autopep8 hook
  .pre-commit-config.yaml
Due: none

added cookie baased auth in streamlit using streamlit-cookie-manager. On reload, the auth persist. Will enhance expense handling flow later.
  ui-poc/Home.py
  ui-poc/pages/Friends.py
  ui-poc/pages/Groups.py
  ui-poc/requirements.txt
Due: none

feat: Complete GSSOC25 frontend analysis and deployment fixes
  NETLIFY_DEPLOYMENT_FIX.md
  netlify.toml
Due: none

docs: Add comprehensive PR summary for GSSOC25 contribution
  PR_SUMMARY.md
Due: none

Update package.json
  frontend/package.json
Due: none

clean up: removed debug endpoints, resolved TODOs, added env-based configs
  backend/.env.example
  backend/app/expenses/routes.py
  backend/app/expenses/service.py
  backend/app/groups/service.py
  backend/app/user/service.py
Due: Expense Management, Group Management, User Management

fix(services): fix mismatch between imageUrl and avatar
  backend/app/auth/schemas.py
  backend/app/auth/service.py
  backend/app/groups/service.py
  backend/app/user/service.py
  backend/tests/auth/test_auth_routes.py
Due: Authentication System, Group Management, User Management

added cookie baased auth in streamlit using streamlit-cookie-manager. On reload, the auth persist. Will enhance expense handling flow later. (#83)
  ui-poc/Home.py
  ui-poc/pages/Friends.py
  ui-poc/pages/Groups.py
  ui-poc/requirements.txt
Due: none

fixed errors, missing imports, and test coverage up to 74% for app
  backend/.coverage
  backend/app/auth/service.py
  backend/app/expenses/service.py
  backend/app/groups/service.py
  backend/tests/auth/test_auth_service.py
  backend/tests/expenses/test_expense_routes.py
  backend/tests/expenses/test_expense_service.py
  backend/tests/groups/test_groups_service.py
  backend/tests/user/test_user_service.py
Due: Authentication System, Expense Management, Group Management

feat(migration-script): add migration, rollback and backup script
  backend/scripts/backup_db.py
  backend/scripts/migrate_avatar_to_imageurl.py
Due: none

Path conditions:
  Authentication System: any of: backend/app/auth/, backend/tests/auth/, but not: **/__pycache__/**, **/tests/**, **/test_*.py, **/*.pyc, frontend/**, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt
  Expense Management: any of: backend/app/expenses/, backend/tests/expenses/, but not: **/__pycache__/**, **/tests/**, **/test_*.py, **/*.pyc, frontend/**, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt
  Group Management: any of: backend/app/groups/, backend/tests/groups/, but not: **/__pycache__/**, **/tests/**, **/test_*.py, **/*.pyc, frontend/**, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt
  User Management: any of: backend/app/user/, backend/tests/user/, but not: **/__pycache__/**, **/tests/**, **/test_*.py, **/*.pyc, frontend/**, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt
  Frontend Core: any of: frontend/, but not: **/__pycache__/**, **/tests/**, **/test_*.py, **/*.pyc, frontend/**, docs/**, *.md, *.yml, *.yaml, *.toml, requirements*.txt
